<footer>
    <style>
        .bg-color {
            background-color: #D9D9D9;
            color: #986f07;
        }

        footer {
            padding: 20px;
            background-color: #f1f1f1;
        }

        .centered {
            text-align: center;
            margin-bottom: 20px;
        }

        .footer-links {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .footer-links a {
            color: #986f07;
            text-decoration: none;
            padding: 5px;
        }

        .footer-links a:hover {
            text-decoration: underline;
        }

        .ios-instructions,
        .android-instructions {
            display: none;
            text-align: center;
            padding: 10px;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            margin-top: 20px;
        }
    </style>
    <br>
    <br>
    <div class="centered">
        © 2023-2024 Copyright: <a href="https://imhoteptech.vercel.app" style="color: black;">Imhotep tech</a><br>
        <a href="/version" style="color: #986f07;">Version: 2.0</a>
        <a href="/download" title="Download">
            <i class="fas fa-download"></i> Download
        </a>
    </div>

</footer>
