<footer>
    <style>
        .bg-color {
            background-color: #D9D9D9;
            color: #986f07;
        }

        footer {
            padding: 20px;
            background-color: #f1f1f1;
        }

        .centered {
            text-align: center;
            margin-bottom: 20px;
        }

        .footer-links {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .footer-links a {
            color: #986f07;
            text-decoration: none;
            padding: 5px;
        }

        .footer-links a:hover {
            text-decoration: underline;
        }

        .ios-instructions,
        .android-instructions {
            display: none;
            text-align: center;
            padding: 10px;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            margin-top: 20px;
        }
    </style>
    <br>
    <br>
    <div class="centered">
        <p>&copy; 2024 Imhotep Financial Manager. All rights reserved. <a href="https://imhoteptech.vercel.app">Imhotep tech</a><br>
            <a href="/version">Version: 2.0</a>
            <a href="/download" title="Download">
                <i class="fas fa-download"></i> Download
            </a></p>
            <div class="d-flex justify-content-end align-items-center">
                <p class="mb-0">Contact us:</p>
                <a href="mailto:imhoteptech@outlook.com" class="footer-icon">
                    <i class="fa fa-envelope"></i>
                </a>
                <a href="https://www.instagram.com/imhotep_tech?igsh=YXV0Y24xZnNveDQ5" target="_blank" class="footer-icon">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://x.com/Imhoteptech1?t=E5JmfSp5WpyZaWkDzILpKw&s=09" target="_blank" class="footer-icon">
                    <i class="fab fa-twitter"></i> 
                </a>
            </div>
    </div>

</footer>
