<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='9b6a6904-b6cd-416b-88b1-ba3d981c9fed.ico')}}">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        <meta charset="utf-8">
        <title>Version</title>
    </head>
    <body class="bg-color">
        <div class="left-aligned">
            <button onclick="history.back()" class="btn-black">Back</button>
        </div>
        <h1 class="centered"></h1>

        <h2>Version 1.1</h2>
        <p>
            20/6/2024<br>
            1. updated the result to be on a more redable way.<br>
            2. updated the input way to be more logical for the user.<br>
            3. improved the search for a currency from a list.
        </p>

        <h2>Version 1.0.1</h2>
        <p>
            10/6/2024<br>
            1. updated the result box colors to be more easy to see.
        </p>

        <h2>Version 1.0</h2>
        <p>
            9/6/2024<br>
            Created the app of currency convertor using an API to link with every day currency prices and calculate the amount given to the other currency
        </p>

    </body>
</html>