<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='9b6a6904-b6cd-416b-88b1-ba3d981c9fed.ico')}}">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6203820067986412"
     crossorigin="anonymous"></script>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <meta charset="utf-8">
        <title>Version</title>
        <style>
                        .bg-color{
                background-color: #D9D9D9;
                color: #986f07;
            }
        </style>
    </head>
    <body class="bg-color">
        <div class="left-aligned">
            <button onclick="history.back()" class="btn-black">Back</button>
        </div>
        <h1 class="centered"></h1>

        <h2>Version 2.0</h2>
        <p>
            21/7/2024<br>
            1. included to google search.<br>
            2. improved the UI/UX for mobile phones.<br>
            3. fixed some bugs.<br>
            4. added an APK version.<br>
            5. updated the elements colors for the APK.<br>
            6. Added the Download on the footer<br>
            7. added download page.
        </p>
        <h2>Version 1.1</h2>
        <p>
            20/6/2024<br>
            1. updated the result to be on a more redable way.<br>
            2. updated the input way to be more logical for the user.<br>
            3. improved the search for a currency from a list.
        </p>

        <h2>Version 1.0.1</h2>
        <p>
            10/6/2024<br>
            1. updated the result box colors to be more easy to see.
        </p>

        <h2>Version 1.0</h2>
        <p>
            9/6/2024<br>
            Simple Currency Converter App - Get Instant Exchange Rates!<br><br>

Traveling the world or conducting international business? This basic currency converter app provides quick and accurate exchange rates to help you make informed decisions.<br><br>

Features:<br><br>

Effortlessly convert between various currencies.<br>
User-friendly interface for easy conversions on the go.<br>
Reliable exchange rates for confident decision-making.<br>
Note: This app focuses on basic currency conversion functionalities.<br>
<br>
Ready to simplify your currency conversions? Order today!
        </p>

    </body>
</html>